* {
    box-sizing: border-box;
}
body {
    background-color: #F7EDE2;
    /* 顏色要加上#才可以用 */
    margin: 0px;
    /* 使區塊和區塊之間是在一起的 中間沒有空格 */
    cursor:url(image/liz.png);
}
/* ---------------------------------- */
.moveword
{
    animation: move-left-right 15s linear infinite;
    font-size: 300%;
    font-family: 'Delicious Handrawn', cursive;
    color: #84A59D;
    z-index: 2;
}
@keyframes move-left-right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(900px);
    }
    100% {
        transform: translateX(0);
    }
}
/* ---------------------------------- */
#intro
{
    background-color:#F6BD60 ;
    padding: 20px;
    margin: 20px 10px;

    border-radius: 10px;
    /* 加上圓弧 */
    background-size: cover;
    /* 使背景螢幕填滿 */
}
.resumebackimg
{   
    margin: 0 auto; 
    border: 10%;
    padding: 0%;
    
    width: 870px;
    height: 900px;
    display: block; 
    border-radius: 3%;
}
.percontent{
    padding: 2% 2%;
}
.myimgback{
    -webkit-animation: rotate-r .9s infinite linear ; 
    border: 10px solid #84A59D;
    border-radius: 50%;
    border-right-color: transparent;
    border-right-width: 20%;
    box-sizing: border-box;
    position: relative;
    height: 260px;
    width: 260px;
    float: left;
    left: -20.5%;
}
@-webkit-keyframes rotate-r
    {
        0% {-webkit-transform: rotate(0);}
        100% {-webkit-transform: rotate(360deg);}
    }
#myself{
    position:relative;
    left: 0.5%;
    bottom: 100%;
    display: block; 
    margin: 0 5px;
    width: 250px;
    height: 250px;
    float: left;
    top: 10%;
}
.content{
    position: relative;
    left: -15%;
    text-align: left;
    
}
#myname
{
    font-size: 200%;
    font-family: 微軟正黑體;
    
}
#myslogan
{
    font-size: 150%;
    font-style: italic;
}
#myinformation
{
    clear: right;
    font-size: 120%;
}
.moreinfor
{

}
/* --------------------------------- */
nav a {
    padding: 20px 10px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px  10px 10px 10px;
    /* 連接成一列 */
    text-decoration:none;
    /* 使超連結下方無底線 */
}
.uppart
{
    background-color: #D5BDAF;
    position: fixed;
    top: 0%;
    right: 0%;
    border-radius: 0px  0px 10px 10px;
}
.uppart img{
    width: 70%;
}
.keepart{
    background-color: #F5CAC3;
    text-align: center;
    font-weight: bolder;
    clear: both;
    padding: 15px;
    margin: 20px 6px;

    border-radius: 10px;
    /* 加上圓弧 */
    background-size: cover;
    /* 使背景螢幕填滿 */
}
.keepart a{
    background-color: #F5CAC3;;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    padding: 10px 100px;
}

/* ----------------------------------------- */
div.asidepart
{
    position: fixed;
    right: 2%;
    bottom: 0%;
}
.gotop
{
    float: left;
}
/* -----------------專業能力_標籤選單----------------- */
input[name="tab"]{
    -webkit-appearance: none;
    border: 1px solid #EDEDE9;
    border-radius: 10px 30px  ;
    cursor: pointer;
    /* 滑鼠游標特效 */
    display: inline-block;
    font-size: 150%;
    padding: 10px 30px;
    text-align: center;
    width: 49%;
}
input[name="tab"]
{
    background: #EDEDE9 ;
    color: black;
}
input[name="tab"]:checked
{
    background: #D5BDAF;
}
input[name="tab"]::after{
    content: attr(title);
}
input[name="tab"][value="0"]:checked~#programskill,input[name="tab"][value="1"]:checked~#psyskill{
    display: block;
}
.proskill{
    border-top: 1px solid #F6BD60;
    display: none;
    margin: 20px 0 0 ;
    text-align: left;
}
/* -----------------專業能力_區域設定---------------- */
.skill{
    background-color: #F6BD60;
    padding: 5px;
    margin: 20px 10px;

    border-radius: 10px;
    /* 加上圓弧 */
    background-size: cover;
    /* 使背景螢幕填滿 */
}
.graph{
    margin: 30px;
    font-family: sans-serif;
}
.gcaption{
    color: #84A59D;
    margin: 0 0 30px;
    font-size: 250%;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}
.item{
    display: -webkit-box;
}
.bar-name{
    background:#EDEDE9;
    box-sizing: border-box;
    color: #84A59D;
    font-size: 20px;
    line-height: 2.5;
    margin: 10px;
    text-align: center;
    width: 90px;
    height: 50px;
    border-radius: 30px;
    font-family: 'Noto Sans TC', sans-serif;
}
.bar-value{
    box-sizing: border-box;
    color: #84A59D;
    font-size: 20px;
    margin: 1em .5em 1em 0 ;
    padding: 5px;
    text-align: center;
    -webkit-transition: all 6s;
    border-radius: 30px;
    font-family: 'Noto Sans TC', sans-serif;
}
.item:nth-child(1) .bar-value{
    background: #F7EDE2;
    width: 0;
}
.item:nth-child(1) .bar-value.action{
    width: 80%;
}
.item:nth-child(2) .bar-value{
    background: #F7EDE2;
    width: 0;
}
.item:nth-child(2) .bar-value.action{
    width: 90%;
}
.item:nth-child(3) .bar-value{
    background: #F7EDE2;
    width: 0%;
}
.item:nth-child(3) .bar-value.action{
    width: 70%;
}
/* 心理學專業 */
.itempsy{
    display: -webkit-box;
}
.bar-namepsy{
    background:#EDEDE9;
    box-sizing: border-box;
    color: #84A59D;
    font-size: 20px;
    line-height: 2.5;
    margin: 10px;
    text-align: center;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    font-family: 'Noto Sans TC', sans-serif;
}
.itempsy:nth-child(1) .bar-value{
    background: #F7EDE2;
    width: 0;
}
.itempsy:nth-child(1) .bar-value.action{
    width: 80%;
}
.itempsy:nth-child(2) .bar-value{
    background: #F7EDE2;
    width: 0;
}
.itempsy:nth-child(2) .bar-value.action{
    width: 85%;
}
.itempsy:nth-child(3) .bar-value{
    background: #F7EDE2;
    width: 0%;
}
.itempsy:nth-child(3) .bar-value.action{
    width: 80%;
}
.itempsy:nth-child(4) .bar-value{
    background: #F7EDE2;
    width: 0%;
}
.itempsy:nth-child(4) .bar-value.action{
    width: 80%;
}
.itempsy:nth-child(5) .bar-value{
    background: #F7EDE2;
    width: 0%;
}
.itempsy:nth-child(5) .bar-value.action{
    width: 85%;
}
.itempsy:nth-child(6) .bar-value{
    background: #F7EDE2;
    width: 0%;
}
.itempsy:nth-child(6) .bar-value.action{
    width: 85%;
}
.itempsy:nth-child(7) .bar-value{
    background: #F7EDE2;
    width: 0%;
}
.itempsy:nth-child(7) .bar-value.action{
    width: 70%;
}
/* -----------------個人經歷_標籤選單------------------- */
input[name="extab"]{
    -webkit-appearance: none;
    border: 1px solid #EDEDE9;
    border-radius: 10px 30px  ;
    cursor: pointer;
    /* 滑鼠游標特效 */
    display: inline-block;
    font-size: 150%;
    padding: 10px 30px;
    text-align: center;
    width: 20%;
}
input[name="extab"]
{
    background: #EDEDE9 ;
    color: black;
}
input[name="extab"]:checked
{
    background: #D5BDAF;
}
input[name="extab"]::after{
    content: attr(title);
}
.experience input[name="extab"][value="s"]:checked~#study,input[name="extab"][value="c"]:checked~#cookies,input[name="extab"][value="t"]:checked~#timeperception,input[name="extab"][value="a"]:checked~#award{
    display: block;
}
.exper{
    border-top: 1px solid #F6BD60;
    display: none;
    margin: 20px 0 0 ;
    text-align: left;
}
/* ---------------------- */
.experience{

    background-color:#F6BD60 ;
    padding: 20px;
    margin: 20px 10px;

    border-radius: 10px;
    /* 加上圓弧 */
    background-size: cover;
    /* 使背景螢幕填滿 */

}